@import '../typography/Text.module.scss';

.form {
	background-color: white;
}

.input {
	border-radius: 3px;
	border-color: white;
	border-style: solid;
	height: 2em;
	min-width: 100%;
	outline: 0;
}

.button {
	font-weight: bold;
	color: $text-alternate;
	height: 100%;
}
