$body-bg: linear-gradient(0deg, #0a0025 0%, #140a2e 100%);

$primary: #9775f2;
$accent: #9775f2;

$text-primary: #fff;
$text-secondary: #ede7ff;

$transition-duration-none: 0s;
$transition-duration-tiny: 100ms;
$transition-duration-short: 250ms;
$transition-duration-medium: 500ms;
$transition-duration-long: 1s;
