@import '../../styles/variables';

$link-color: rgba(155, 119, 255, 1);

.base {
	// Add styles to be applied to all Anchors here
}

.link {
	color: $link-color;
}

.nav {
	text-decoration: none;
	font-size: 15px;
	margin: 36px 0 36px 46px;
	font-weight: bold;
	color: $text-secondary;
	display: inline-block;
}
