@import '../../styles/variables';

.clickable-text {
	cursor: pointer;
	transition: all $transition-duration-tiny linear $transition-duration-none;
	border-bottom: 1px solid transparent;
	user-select: none;

	&:hover {
		border-color: $text-primary;
	}
}
