@import '../../styles/variables';

$text-primary: rgba(255, 255, 255, 1);
$text-secondary: rgba(248, 245, 255, 1);
$text-tertiary: rgba(220, 213, 240, 1);

$text-alternate: rgba(68, 19, 203, 1);

.heading {
	color: $text-primary;
	font-weight: bold;
}

.text {
	color: $text-secondary;
	font-weight: normal;
}

.small {
	color: $accent;
}

.centered {
	text-align: center;
}
