.wavy {
	position: absolute;

	z-index: -1;

	top: 0;
	width: 100%;
	height: 800px;
	background: linear-gradient(212.73deg, rgba(126, 79, 255, 0.078) 18.27%, rgba(126, 79, 255, 0) 54.01%);
}

.radial {
	position: absolute;

	z-index: -1;

	top: 200px;
	left: -5px;
	width: 70vw;
	height: 630px;
	background: radial-gradient(50% 50% at 50% 50%, rgba(126, 79, 255, 0.084) 22.4%, rgba(126, 79, 255, 0) 100%);
}

.bottom {
	z-index: -1;

	position: absolute;
	width: 1010px;
	height: 630px;
	right: 60px;
	bottom: 30px;

	background: radial-gradient(50% 50% at 50% 50%, rgba(126, 79, 255, 0.084) 22.4%, rgba(126, 79, 255, 0) 100%);
}
