<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script defer type="module">
  import stats from "/assets/js/stats.js";
  import { update, options } from "/assets/js/chart.js";

  const chart = new ApexCharts(document.getElementById("chart"), options);

  chart.render();

  document.getElementById("submit").addEventListener("click", event => {
    event.preventDefault();

    stats()
      .then(async response => {
        if (response.status === 404) {
          return (result.innerText = "That URL couldn't be found or you don't have access to it");
        } else {
          const json = await response.json();
          if (json.error) {
            throw json.error;
          } else if (!(200 <= response.status && response.status <= 299)) {
            throw `${response.status} ${response.statusText} and said ${await response.json()}`;
          }

          update(chart, { get: json.usage ? json.usage.get : [], shorten: json.usage ? json.usage.shorten : [] });

          return (result.innerText = `Shortened ${json.shorten} times and visited ${json.get} times`);
        }
      })
      .catch(error => {
        console.error(error);
        return (result.innerText = `An error occurred: ${error}`);
      });
  });
</script>

<div class="auth__inner">
  <div class="auth__media">
    <div id="chart"></div>
  </div>
  <div class="auth__auth">
    <h1 class="auth__title">URL Stats</h1>
    <form role="presentation" class="form">
      <input id="long" type="url" placeholder="Long URL to see stats for (max 500 characters)" maxlength="500"
        required="" autofocus="" aria-label="Long URL to see stats for (max 500 characters)">
      <p id="result"></p>
      <button id="submit" type="submit" class="button button__accent">Check</button>
    </form>
  </div>
</div>
